.mat-card-simples{
  max-width: 300px;
  background-color: darkslategray;
  margin: 10px 0px 0px 10px;
}

p {
  font-weight: bold;
  margin-left: 20px;
}

.meunome {
  font-size: 1.25em;
  margin-bottom: 20px;
  color: darkslategray;
}

.card-insercao-usuario{
  max-width: 650px;
  background-color: darkgray;
}

.mat-form-simples {
  margin-left:5px;
}
